name: "Kitchen Tests"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  default-project:
    name: "Default Project"
    runs-on: [self-hosted, kitchen]
    env:
      RUBYOPT: "-W:no-deprecated -W:no-experimental"
      BILLING_ID: ${{ secrets.BILLING_ID }}

    # Use the Bash shell
    defaults:
      run:
        shell: bash

    # GitHub - Checkout
    # https://github.com/marketplace/actions/checkout

    steps:
      - name: GitHub Checkout
        uses: actions/checkout@v2.3.2
      
      # Google Cloud Platform - Setup gcloud environment
      # https://github.com/marketplace/actions/setup-gcloud-environment

      - name: Google Cloud Platform CLI Setup
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@0.1.2
        with:
          version: "297.0.1"
          service_account_key: ${{ secrets.GCP_TF_CHILD_MODULE_GITHUB_SA_KEY }}
          export_default_credentials: true

      # Kitchen Tests
      # https://github.com/newcontext-oss/kitchen-terraform
      
      - name: Run Kitchen Tests
        run: |
          bundle exec kitchen test
